.container {
  padding: 15px;
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
}
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}
