.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;

  font-family: var(--font-geist-sans);

  @media (min-width: 640px) {
  }
}

.greetings,
.building {
  margin-top: 64px;
}
