.container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }
  .content {
    color: white;
    background-color: rgb(35, 43, 47);
    text-decoration: none;
    margin-top: 0;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .brg__button {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    background-color: white;
  }
  .button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    .text {
      color: black;
      font-size: 1em;
    }
    .arrow {
      color: rgba(0, 0, 0, 0.54);
      width: 1rem;
    }
  }
}
